@using PagedList;
@using PagedList.Mvc
@model IPagedList<ModernMarketResearch.Areas.Admin.Models.ViewModel.ReportVM>
@{
    ViewBag.Title = "ReportIndex";
}
<script type="text/javascript">
    $(function () {
        $(".txtCalender").datepicker();
    });
</script>
<p style="margin-left: 20px;">
    @Html.ActionLink("Create New", "ReportCreate")
</p>

@using (Html.BeginForm("ReportIndex", "Report", FormMethod.Get))
{
    @*<div class="col-sm-12" style="margin-left: 10px; margin-bottom: 50px">*@

        @*<div class="col-sm-6">
            <input type="text" name="searchkey" class="form-control" value="@Request.QueryString["searchkey"]" placeholder="Search Report" />
            <span class="input-group-btn">
                <button class="btn btn-search" type="submit"><i class="fa fa-search fa-fw">Search</i></button>
            </span>
        </div>*@
        <table class="col-sm-12" style="margin-left: 30px; margin-bottom: 50px">
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Keyword"  value="@Request.QueryString["searchkey"]"  name="searchkey" id="txtSearch" />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>

                    <div class="row">
                        <div class="col-sm-6">
                            Page Size 
                            @Html.DropDownList("pagesize", from l in new ModernMarketResearch.Areas.Admin.Models.ViewModel.ReportVM().GetPageSize().ToList()
                                                           select new SelectListItem
                                                           {
                                                               Text = l.Text,
                                                               Value = l.Value
                                                           }
            , "Select Size", new { @class = "form-control" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    @*</div>*@
    
    using (Html.BeginForm("ExportData", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="row" style="width: 80%; margin-left: 10px">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <td class="col-sm-1" style="text-align: right">From Date
                    </td>
                    <td class="col-sm-3">
                        <input type="text" name="FromDate" class="form-control txtCalender" />
                    </td>
                    <td class="col-sm-1" style="text-align: right">To Date
                    </td>
                    <td class="col-sm-3">
                        <input type="text" name="ToDate" class="form-control txtCalender" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
   
    
    <input type="submit" value="Export-To-Excel" style="width: 50%; height: 30px; margin-left: 150px; margin-bottom: 30px; background-color: #eadaa6" />
    }

    <table class="table table-bordered" style="width: 80%; margin-left: 10px">
        <tr>
            <th>Report Title
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportTitle)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ReportEdit", new { id = item.ReportId }) |
            @Html.ActionLink("Details", "ReportDetails", new { id = item.ReportId }) |
            @Html.ActionLink("Delete", "ReportDelete", new { id = item.ReportId })
                </td>
            </tr>
        }

    </table>
    <div style="margin-left: 150px">
        @Html.PagedListPager(Model, Pageno => Url.Action("ReportIndex", new
       {
           Pageno,
           searchkey = @Request.QueryString["searchkey"],
           pagesize = @Request.QueryString["pagesize"]

       }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
    </div>
}