@using PagedList
@using PagedList.Mvc
@model IPagedList<ModernMarketResearch.Areas.Admin.Models.ViewModel.ReportVM>
@{
                        // Layout = null;
}

@*<link href="~/Content/PagedList.css" rel="stylesheet" />*@

<script type="text/javascript">
    var x = {};
    $(document).ready(function z() {
        x = $("#ReportId");
        ValidateInput(x);
    });
    function ValidateInput() {
        if (x.val() != '') {
            $('#btnsubmit').attr('disabled', false);
        }
        else {
            $('#btnsubmit').attr('disabled', true);
        }
    }
</script>
@*<script type="text/javascript">
    $(function () {
        $("#ReportId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetReports", "Reports")',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'ReportKey': request.term
                    },
                    success: function (data) {
                        debugger;
                        response(data);
                    },
                    error: function (err) {
                        debugger;
                        console.log(err);
                    }
                });
            }
        });

    });
</script>*@

<style>
    .field-validation-error {
        color: red;
    }
</style>
<section class="page-title-section" style="height:100px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        @{Html.RenderAction("SearchingPartialView", "Home");}
                    </div>
                   @* <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a>Reports</a></li>
                        <li class="active">Report Details</li>
                    </ol>*@
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Single-Service-Start -->
<div class="news-box-heading heading-btn" style="width: 95%; margin: auto;">
    <i class="fa fa-clipboard" style="font-size: 24px"></i>&nbsp;&nbsp;&nbsp;Chemicals

</div>
<section class="single-service-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
                @{Html.RenderAction("PartialCat", "Category");}
                <div class="service-sidebar sidebar-wrapper">

                    <!-- /.widget -->
                </div>
                <!-- /.sidebar-wrapper -->
            </div>
            <!-- /.col -->
            <div class="col-md-9 col-sm-7 col-xs-12">

                <div class="col-md-12">
                    @{ int i = 0; }
                    @foreach (var item in Model)
                    {
                        if (i++ % 2 == 0)
                        {
                        <div class="row report-lst-view">
                            <div class="col-md-3 report-img">
                                <img />
                            </div>
                            <div class="col-md-9 report-content">
                                <a href="@Url.Action("ReportDetail", "Report", new { @ReportUrl = item.ReportUrl })">
                                    <h3 class="panel-title">@item.ReportTitle</h3>
                                </a>
                                <div class="panel-body category-short-note">
                                    <p class="date-info"><i class="fa fa-calendar"></i>@item.PublishingDate.ToString("MMM-yy") | <a href="@Url.Action("PublisherRelatedReports", "Report", new { @puburl = item.PublishingUrl })">@item.PublisherName </a>| <a href="@Url.Action("CategoryRelatedReports", "Report", new { @caturl = item.CategoryUrl })">@item.CategoryName </a></p>

                                    @Html.Raw(item.FullDescription)...

                                    <br>
                                    <a rel="nofollow" href="@Url.Action("ReportDetail", "Report", new { @ReportUrl = item.ReportUrl })">View More <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="row report-lst-view">
                            <div class="col-md-9 report-content">
                                <a href="@Url.Action("ReportDetail", "Report", new { @ReportUrl = item.ReportUrl })">
                                    <h3 class="panel-title">@item.ReportTitle</h3>
                                </a>
                                <div class="panel-body category-short-note">
                                    <p class="date-info"><i class="fa fa-calendar"></i>@item.PublishingDate.ToString("MMM-yy") | <a href="@Url.Action("PublisherRelatedReports", "Report", new { @puburl = item.PublishingUrl })">@item.PublisherName </a>| <a href="@Url.Action("CategoryRelatedReports", "Report", new { @caturl = item.CategoryUrl })">@item.CategoryName </a></p>

                                    @Html.Raw(item.FullDescription)...

                                    <br>
                                    <a rel="nofollow" href="@Url.Action("ReportDetail", "Report", new { @ReportUrl = item.ReportUrl })">View More <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-md-3 report-img">
                                <img />
                            </div>

                        </div>
                        }

                    }
                </div>


                <ul class="pagination">


                    @Html.PagedListPager(Model, pageno => Url.Action("CategoryRelatedReports", new
                   {
                       pageno,
                   }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })


                </ul>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
