@model ModernMarketResearch.Models.ViewModel.ReportDetailsVM
@{
    ViewBag.Title = Model.ReportDetails.ReportTitle;

    ViewBag.Description = "";
    ViewBag.Keywords = "";
                //Layout = null;
                        
}
<script>
    //$(document).ready(function () {
    //    $('#sticky').css("display","block");
    //    $(window).scroll(function () {
    //        var distanceFromTop = $(document).scrollTop();
    //        if (distanceFromTop >= 140) {
    //            $('#sticky').fadeIn(400).addClass('fixed');
    //        }
    //        else {
    //            $('#sticky').fadeOut(400).removeClass('fixed');
    //        }
    //    });
    //});
</script>

<script type="text/javascript">
    function ValidCaptcha(formType) {
        debugger;
        var obj = {};
        var v = $("#txtInput_" + formType).val();
        var w = $("#txtCaptcha_" + formType).val();
        var res = false;

        obj.inputcapcha = v;
        obj.RealCaptcha = w;
        if (v == null) {
            e.preventDefault();
            $("#captchaError_" + formType).html("Captcha should enter !..");
        }
        $.ajax({
            type: "post",
            url: '@Url.Action("CaptchaValidation", "InquiryForm")',
            data: JSON.stringify(obj),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                res = data;
            },
            error: function (res) {
                alert("Error..." + res.responseText);
            }
        });
        return res;
    }
    function ValidateForm(e, formType) {
        debugger;
        var IsValid = $("#Enquiryform_" + formType).valid();
        if (IsValid) {
            if (ValidCaptcha(formType)) {
                $("#Enquiryform_" + formType).submit();
            } else {
                e.preventDefault();
                $("#captchaError_" + formType).html("Not Valid Captcha !..");
            }
        }
    }

</script>

<script type="text/javascript">
    var removedStr = '';
    var mydescStr = [];
    var newStr = '';
    $(document).ready(function () {
        var maxLength = 500;
        $(".show-read-more").each(function () {
            mydescStr.push($(this).text());

            if ($(this).text().length > maxLength) {
                newdescStr = $(this).text().substring(0, maxLength);
                // removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).html(newdescStr);
                $(this).append('<div class="read-more"><button type="button" class="btn btn-primary" style="border: 1px solid #009651; background-color: #009688; color: #FFFFFF;padding:3px;">Read More..</button></div>');
                //$(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });

        $(".read-more").click(function () {
            debugger;
            var t = $(this);
            $(".read-more").empty();
            $(".show-read-more").html("");
            $(".show-read-more").append(mydescStr);
        });

    });
</script>
<script type="text/javascript">
    var removedStr = '';
    var myStr = [];
    var newStr = '';
    $(document).ready(function () {
        var maxLength = 500;

        $("#TOC").each(function () {
            myStr.push($(this).text());

            if ($(this).text().length > maxLength) {
                newStr = $(this).text().substring(0, maxLength);
                // removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                //$(this).html('<pre>'+newStr+'<div class="read-more1"><button type="button" class="btn btn-primary" style="padding: 2px 6px; font-size: 11px">Read More..</button></div></pre>');
                $(this).html(newStr + '<div class="read-more1"><button type="button" class="btn btn-primary" style="border: 1px solid #009651; background-color: #009688; color: #FFFFFF;padding:3px;">Read More..</button></div>');
                //$(this).append(' <div class="read-more1"><button type="button" class="btn btn-primary" style="padding: 2px 6px; font-size: 11px">Read More..</button></div>');
                //$(this).append('<span class="more-text">' + removedStr + '</span>');
            }

        });
        $(".read-more1").click(function () {
            debugger;
            var t = $(this);
            $(".read-more1").empty();
            $("#TOC").html("");
            //$("#TOC").append('<pre>'+ myStr + '</pre>');
            $("#TOC").append(myStr);
        });
    });

</script>

<input type="hidden" value="@Model.ReportDetails.ReportId" id="RepID" />

<!-- report details finish-->
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>Reports</h1>
                        <div class="report-search-section">@{Html.RenderAction("SearchingPartialView", "Home");}</div>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Report Details</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Single-Service-Start -->
<section class="single-service-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
                <div class="service-sidebar sidebar-wrapper">
                    <div class="panel panel-default">
                        <div class="panel-heading">Payment Mode</div>
                        <div class="panel-body">
                            @using (Html.BeginForm("CheckoutForm", "ReportBuying", FormMethod.Get))
                            {
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <input type="hidden" name="reportid" value="@Model.ReportDetails.ReportId" />
                                                <input name="buynow" id="PriceSingleUser" value="0" checked="checked" type="radio">Single User Price :
                                    <span class="badge badge-primary badge-pill">$ @Model.ReportDetails.PriceSingleUser</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <input type="radio" name="buynow" id="PriceMultiUser" value="1">Multi User Price :
                                    <span class="badge badge-primary badge-pill">$ @Model.ReportDetails.PriceMultiUser</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <input type="radio" name="buynow" id="PriceCUL" value="2">Corporate User Price :
                                    <span class="badge badge-primary badge-pill">$ @Model.ReportDetails.PriceCUL</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a>
                                        <span>
                                            <input type="image" src="~/img/buynowcc-blue.png" class="buyimage">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            }
                        </div>
                      </div>
                    

                    @{Html.RenderAction("PartialCat", "Category");}
                    <!-- /.widget -->
                </div>
                <!-- /.sidebar-wrapper -->
            </div>
            <!-- /.col -->
            <div class="col-md-9 col-sm-7 col-xs-12 report-details">

                <div class="col-md-12">
                    <div class="row text-center">
                        <h1 class="title">
                            <span id="">@Model.ReportDetails.ReportTitle</span></h1>
                        <p class="date-info-2">
                            <i class="fa fa-calendar"></i><strong>&nbsp;Published:</strong>
                            <span id="">@Model.ReportDetails.PublishingDate.ToString("MMM-yyyy")</span>
                            | <i class="fa fa-file-pdf-o"></i><strong>&nbsp;Format:</strong>
                            <span id="">PDF</span>
                            |
                <a href="@Url.Action("PublisherRelatedReports", "Report", new { @puburl = Model.ReportDetails.PublishingUrl })">@Model.ReportDetails.PublisherName</a>

                            | <i class="fa fa-file-powerpoint-o"></i><strong>&nbsp;Number of pages:</strong>
                            <span id="">@Model.ReportDetails.NumberOfPage</span>
                        </p>
                        <div id="Sett"></div>
                    </div>
                    <div class="css-tab" role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#reportdetails" aria-controls="secure" role="tab" data-toggle="tab">Report Details</a></li>
                            <li role="presentation"><a href="#tablecontent" aria-controls="trackable" role="tab" data-toggle="tab">Table Of Content</a></li>
                            <li role="presentation"><a href="#inquiry" aria-controls="fast" role="tab" data-toggle="tab">Inquiry For Buying</a></li>
                            <li role="presentation"><a href="#reqsample" aria-controls="reliable" role="tab" data-toggle="tab">Free Sample</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade in" id="reportdetails">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            @Html.Raw(Model.ReportDetails.FullDescription)
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tablecontent">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            @Html.Raw(Model.ReportDetails.TableofContent)
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="inquiry">
                                <div class="css-tab-content">
                                    <div class="row">

                                        <div class="col-md-12 content-text">
                                            @{Html.RenderAction("InquiryForm", "InquiryForm", new { @ReportID = Model.ReportDetails.ReportId, @FormType = "InquiryForm" });}
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="reqsample">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            @{Html.RenderAction("SampleRequest", "InquiryForm", new { @ReportID = Model.ReportDetails.ReportId });}
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                        </div>
                    </div>
                    <!-- /.css-tab -->
                </div>
                <!-- /.col-md-12 -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Single-Service-End-->

























<!--/.wrapper end -->















