@model ModernMarketResearch.Models.ViewModel.ReportDetailsVM
@{
    ViewBag.Title = Model.ReportDetails.ReportTitle;
    ViewBag.Description = "";
    ViewBag.Keywords = "";
                //Layout = null;
                        
}
<script>
    $(document).ready(function () {
        var url = window.location.href;
        // Get the tab to make active from url link.

        var activeTab = url.substring(url.indexOf("#") + 1);
        // Remove old active tab class

        //   $(".tab-pane").removeClass("active in");

        //  Add active class to new tab

        $("#" + activeTab).addClass("active in");
        //  Or directly open tab after getting activeTab.

        $('a[href="#' + activeTab + '"]').tab('show');

        //$('html, body').animate({
        //    scrollTop: $('.titlecolor').offset().top - 50
        //}, 2000);

    });
</script>
<script type="text/javascript">
    function ValidCaptcha(formType) {
        debugger;
        var obj = {};
        var v = $("#txtInput_" + formType).val();
        var w = $("#txtCaptcha_" + formType).val();
        var res = false;

        obj.inputcapcha = v;
        obj.RealCaptcha = w;

        $.ajax({
            type: "post",
            url: '@Url.Action("CaptchaValidation", "InquiryForm")',
            data: JSON.stringify(obj),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (data) {
                res = data;
            },
            error: function (res) {
                alert("Error..." + res.responseText);
            }
        });
        return res;
    }
    function ValidateForm(e, formType) {
        debugger;
        if ($("#Enquiryform_" + formType).valid()) {
            if (ValidCaptcha(formType)) {
                $("#Enquiryform_" + formType).submit();
            } else {
                e.preventDefault();
                $("#captchaError_" + formType).html("Not Valid Captcha !..");
            }
        }
    }
</script>
<script type="text/javascript">
    var removedStr = '';
    var mydescStr = [];
    var newStr = '';
    $(document).ready(function () {
        var maxLength = 500;
        $(".show-read-more").each(function () {
            mydescStr.push($(this).text());

            if ($(this).text().length > maxLength) {
                newdescStr = $(this).text().substring(0, maxLength);
                // removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).html(newdescStr);
                $(this).append('<div class="read-more"><button type="button" class="btn btn-primary" style="border: 1px solid #009651; background-color: #009688; color: #FFFFFF;padding:3px;">Read More..</button></div>');
                //$(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });

        $(".read-more").click(function () {
            debugger;
            var t = $(this);
            $(".read-more").empty();
            $(".show-read-more").html("");
            $(".show-read-more").append(mydescStr);
        });

    });
</script>
<script type="text/javascript">
    var removedStr = '';
    var myStr = [];
    var newStr = '';
    $(document).ready(function () {
        var maxLength = 500;

        $("#TOC").each(function () {
            myStr.push($(this).text());

            if ($(this).text().length > maxLength) {
                newStr = $(this).text().substring(0, maxLength);
                // removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                //$(this).html('<pre>'+newStr+'<div class="read-more1"><button type="button" class="btn btn-primary" style="padding: 2px 6px; font-size: 11px">Read More..</button></div></pre>');
                $(this).html(newStr + '<div class="read-more1"><button type="button" class="btn btn-primary" style="border: 1px solid #009651; background-color: #009688; color: #FFFFFF;padding:3px;">Read More..</button></div>');
                //$(this).append(' <div class="read-more1"><button type="button" class="btn btn-primary" style="padding: 2px 6px; font-size: 11px">Read More..</button></div>');
                //$(this).append('<span class="more-text">' + removedStr + '</span>');
            }

        });
        $(".read-more1").click(function () {
            debugger;
            var t = $(this);
            $(".read-more1").empty();
            $("#TOC").html("");
            //$("#TOC").append('<pre>'+ myStr + '</pre>');
            $("#TOC").append(myStr);
        });
    });

</script>

<input type="hidden" value="@Model.ReportDetails.ReportId" id="RepID" />

<!-- report details finish-->
<section class="page-title-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header-wrap">
                    <div class="page-header">
                        <h1>Report Details</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a>Reports</a></li>
                        <li class="active">Report Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Single-Service-Start -->
<section class="single-service-contents">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
                <div class="service-sidebar sidebar-wrapper">

                    <div class="widget">
                        <h2 class="widget-title">Services</h2>
                        <ul class="service-list">
                            <li><a href="air.html" class="icon-air">Air transportation</a></li>
                            <li><a href="marine.html" class="icon-marine">Marine transportation</a></li>
                            <li><a href="moving.html" class="icon-store">Moving &amp; storage</a></li>
                            <li><a href="shipping.html" class="icon-shipping">Shipping &amp; operations</a></li>
                            <li><a href="transportation.html" class="icon-transportation">Transportation logistics</a></li>
                            <li class="active"><a href="trucking.html" class="icon-trucking">Trucking</a></li>
                        </ul>
                    </div>
                    <!-- /.widget -->

                    <div class="widget">
                        <div class="download-wrap company">
                            <a href="#">Company profile <span>Download</span><i class="fa fa-download"></i></a>
                        </div>
                        <!-- /.download-wrap -->
                        <div class="download-wrap annual">
                            <a href="#">Annual Report <span>Download</span><i class="fa fa-download"></i></a>
                        </div>
                        <!-- /.download-wrap -->
                        <div class="download-wrap brochure">
                            <a href="#">Corporate Brochure <span>Download</span><i class="fa fa-download"></i></a>
                        </div>
                        <!-- /.download-wrap -->
                    </div>
                    <!-- /.widget -->

                    <div class="widget">
                        <h2 class="widget-title">Office Hours</h2>
                        <div class="textwidget">
                            <p>
                                Monday -
                                                    Friday: 9:00 - 18:00<br>
                                Saturday: 9:00 - 2:00<br>
                                Holidays: 9:00 - 12:00
                            </p>
                        </div>
                    </div>
                    <!-- /.widget -->
                </div>
                <!-- /.sidebar-wrapper -->
            </div>
            <!-- /.col -->
            <div class="col-md-9 col-sm-7 col-xs-12">

                <div class="col-md-12">
                    <div class="css-tab" role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#secure" aria-controls="secure" role="tab" data-toggle="tab"><i class="flaticon-logistics15"></i>Secure</a></li>
                            <li role="presentation"><a href="#trackable" aria-controls="trackable" role="tab" data-toggle="tab"><i class="flaticon-logistics18"></i>Trackable</a></li>
                            <li role="presentation"><a href="#fast" aria-controls="fast" role="tab" data-toggle="tab"><i class="flaticon-logistics16"></i>Fast</a></li>
                            <li role="presentation"><a href="#reliable" aria-controls="reliable" role="tab" data-toggle="tab"><i class="flaticon-broken43"></i>Reliable</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active fade in" id="secure">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            <h3>Continually disintermediate</h3>

                                            <p>Credibly build virtual materials for fully researched paradigms. Authoritatively plagiarize long-term high-impact infomediaries with goal-oriented core competencies. Conveniently visualize process-centric applications through leading-edge testing procedures. Quickly build backend customer service for real-time metrics.</p>

                                            <p>Efficiently transform an expanded array of methodologies rather than customized infomediaries.</p>
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="trackable">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            <h3>Continually disintermediate</h3>

                                            <p>Credibly build virtual materials for fully researched paradigms. Authoritatively plagiarize long-term high-impact infomediaries with goal-oriented core competencies. Conveniently visualize process-centric applications through leading-edge testing procedures. Quickly build backend customer service for real-time metrics.</p>

                                            <p>Efficiently transform an expanded array of methodologies rather than customized infomediaries.</p>
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="fast">
                                <div class="css-tab-content">
                                    <div class="row">
                                        
                                        <div class="col-md-12 content-text">
                                            <h3>Continually disintermediate</h3>

                                            <p>Credibly build virtual materials for fully researched paradigms. Authoritatively plagiarize long-term high-impact infomediaries with goal-oriented core competencies. Conveniently visualize process-centric applications through leading-edge testing procedures. Quickly build backend customer service for real-time metrics.</p>

                                            <p>Efficiently transform an expanded array of methodologies rather than customized infomediaries.</p>
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="reliable">
                                <div class="css-tab-content">
                                    <div class="row">
                                        <div class="col-md-12 content-text">
                                            <h3>Continually disintermediate</h3>

                                            <p>Credibly build virtual materials for fully researched paradigms. Authoritatively plagiarize long-term high-impact infomediaries with goal-oriented core competencies. Conveniently visualize process-centric applications through leading-edge testing procedures. Quickly build backend customer service for real-time metrics.</p>

                                            <p>Efficiently transform an expanded array of methodologies rather than customized infomediaries.</p>
                                        </div>
                                        <!-- /.col-md-12 -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.css-tab-content -->
                            </div>
                        </div>
                    </div>
                    <!-- /.css-tab -->
                </div>
                <!-- /.col-md-12 -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Single-Service-End-->


<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    @foreach (var item in Model.BreadcrumbCategory)
    {
        <li><a href="@Url.Action("CategoryRelatedReports", "Report", new { @caturl = item.CategoryUrl })">@item.CategoryName</a></li>
    }
</ol>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    @{Html.RenderAction("SearchingPartialView", "Home");}
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-md-8">
            <h1 class="title">
                <span id="">@Model.ReportDetails.ReportTitle</span></h1>
            @*      <a target="_blank" href="http://wwwresearchgroup.com/market-analysis/global-ir-emitter-receiver-market-2017-production-sales.pdf">
                <strong>
                    <span class="pull-right btn-primary" style="padding: 3px;">Download as PDF&nbsp;<i class="fa fa-file-pdf-o" style="font-size: 2em;"></i></span>
                </strong>
            </a>*@
            <p class="date-info-2">
                <i class="fa fa-calendar"></i><strong>&nbsp;Published:</strong>
                <span id="">@Model.ReportDetails.PublishingDate.ToString("MMM-yyyy")</span>
                | <i class="fa fa-file-pdf-o"></i><strong>&nbsp;Format:</strong>
                <span id="">PDF</span>
                |
                <a href="@Url.Action("PublisherRelatedReports", "Report", new { @puburl = Model.ReportDetails.PublishingUrl })">@Model.ReportDetails.PublisherName</a>

                | <i class="fa fa-file-powerpoint-o"></i><strong>&nbsp;Number of pages:</strong>
                <span id="">@Model.ReportDetails.NumberOfPage</span>
            </p>
            <div id="Sett"></div>
            @*   ADD HERE TAB Content Partial view *@
            <div class="row">

                <!--tab start-->

                <ul class="nav nav-tabs" id='myTab'>
                    <li class="active"><a data-toggle="tab" href="#Report_Details">Report Details</a></li>
                    <li><a data-toggle="tab" href="#TOC">Table Of Content</a></li>
                    <li><a data-toggle="tab" href="#Buying_Inquiry">Inquiry For Buying </a></li>
                    <li><a data-toggle="tab" href="#Request_Sample">Request Sample</a></li>
                </ul>
                <div class="tab-content">
                    <div id="Report_Details" class="tab-pane fade in active">
                        <div style="text-align: justify;" id="divFullDescription">

                            <div class="show-read-more">
                                @Html.Raw(Model.ReportDetails.FullDescription)
                            </div>

                            @*     <pre>@Html.Raw(Model.ReportDetails.FullDescription)....  <p><button type="button" class="btn btn-primary" style="padding:2px 6px;font-size:11px" id="btnfulldesc">Read More..</button></p></pre>*@

                            @* <button type="button" class="btn btn-primary" id="btnfulldesc">Read More..</button>*@

                        </div>
                    </div>
                    <div id="TOC" class="tab-pane fade ">
                        <div class="mypreformat">
                            @Html.Raw(Model.ReportDetails.TableofContent)
                        </div>

                        @*     @Html.Raw(Model.ReportDetails.TableofContent)*@
                        @*     <div class="show-read-more">
                        @Html.Raw(Model.ReportDetails.TableofContent)
                    </div>*@
                        @* <p>
                        <button type="button" class="btn btn-primary" id="btnTOC" style="padding: 2px 6px; font-size: 11px">Read More..</button></p>*@
                    </div>
                    <div id="Buying_Inquiry" class="tab-pane fade">
                        @* @{Html.RenderAction("InquiryForm", "InquiryForm", new { @ReportID = Model.ReportDetails.ReportId, @FormType = "InquiryForm" });}*@
                    </div>
                    <div id="Request_Sample" class="tab-pane fade">
                        @* @{Html.RenderAction("InquiryForm", "InquiryForm", new { @ReportID = Model.ReportDetails.ReportId, @FormType = "SampleRequestForm" });}*@
                    </div>
                    <br />
                    <hr />


                </div>
                <!--tab finish-->



            </div>
            @*ADD HERE LATEST NEWS RENDER ACTION*@
            @*@{Html.RenderAction("LatestNewsForReportDetails", "News");}*@
        </div>

        <div class="col-md-4">

            <div class="research_assistance">
                @using (Html.BeginForm("CheckoutForm", "BuyingInfo", FormMethod.Get))
                {
                    <div class="title"><i class="fa fa-usd"></i>Select a Format</div>
                    <div class="meta" style="text-align: left;">
                        <table id="ctl00_ContentPlaceHolder2_rblReportPrise" border="0" style="text-align: left;">
                            <tbody>

                                <tr>
                                    <td>
                                        <input type="hidden" name="reportid" value="@Model.ReportDetails.ReportId" />
                                        <input name="buynow" id="PriceSingleUser" value="0" checked="checked" type="radio"><label for="ctl00_ContentPlaceHolder2_rblReportPrise_0"><span style="font-weight: normal"> Single User Price : </span>$@Model.ReportDetails.PriceSingleUser</label></td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="radio" name="buynow" id="PriceMultiUser" value="1"><label for="ctl00_ContentPlaceHolder2_rblReportPrise_1"><span style="font-weight: normal"> Multi User Price : </span>$@Model.ReportDetails.PriceMultiUser</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="buynow" id="PriceCUL" value="2"><label for="ctl00_ContentPlaceHolder2_rblReportPrise_2"><span style="font-weight: normal"> Corporate User Price : </span>$@Model.ReportDetails.PriceCUL</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        @*<a id="ctl00_ContentPlaceHolder2_btnBuyNow" class="btn btn-danger">Buy Now &nbsp;<i class="fa fa-shopping-cart" style="font-size: 25px"></i></a>*@
                                        <a>
                                            <span style="margin-left: 20px; margin-top: 25px;">
                                                <input type="image" src="~/Images/buy-now-button.png" style="margin-top: 10px;">
                                            </span>
                                        </a>
                                    </td>
                                </tr>



                                @*<button type="submit">
                                            <img src="~/Images/buy-now5.png" />
                                    </button>*@


                            </tbody>
                        </table>

                    </div>
                }
            </div>

            @{Html.RenderAction("LatestReport", "Report");}


            <div class="research_assistance">
                <div class="title"><i class="fa fa-users"></i>Customer services</div>
                <div class="meta">
                    We will be happy to help you find what you need. Please call us or write to us:<br>
                    <br>
                    1-855-465-4651 (US-Canada Toll Free)<br>
                    GMT Tel: +49-322 210 92714
           
                    <br>
                    Email: <a href="#" target="_top">sales@modernmarketresearch.com</a><br>
                </div>
            </div>

            <!--/.research_assistance end -->


        </div>
    </div>

</div>






















<!--/.wrapper end -->















