@using PagedList.Mvc
@using PagedList
@model IPagedList<ModernMarketResearch.Areas.Admin.Models.ViewModel.ReportVM>
@{
            //var ObjCat = new MRSAssignment.Controllers.HomeController();
            //var categories = ObjCat.GetCategories();
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="wrapper">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->

        @{Html.RenderAction("SearchingPartialView", "Home", new { searchkey = @Request.QueryString["ReportTitle"] });}

    </div>
    <div class="row">
        <div class="col-md-8">

            <h1 class="title"></h1>
            @if (ViewBag.Totalreports > 0)
            {
                <div>
                    <table cellspacing="0" border="0" id="ctl00_ContentPlaceHolder1_grdReports" style="width: 100%; border-collapse: collapse;">
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a href="@Url.Action("ReportDetail", "Report", new { @ReportUrl = item.ReportUrl })">
                                                <h3 class="panel-title">@item.ReportTitle</h3>
                                            </a>
                                        </div>
                                        <div class="panel-body category-short-note">
                                            <p class="date-info"><i class="fa fa-calendar"></i>@item.PublishingDate.ToString("MMM-yy")| @item.PublisherName |<a href="@Url.Action("CategoryRelatedReports", "Report", new { @caturl = item.CategoryUrl })">@item.CategoryName</a></p>
                                            @item.FullDescription
                                            <br>
                                            <a rel="nofollow" href="@Url.Action("ReportDetail", "Report", new { @ReportUrl = item.ReportUrl })">View More <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <ul class="pagination">

                    @Html.PagedListPager(Model, pageno => Url.Action("SearchedReports", new
                   {
                       pageno,
                       searchkey = @ViewBag.SearchedKeyword,
                       CategoryId = @Request.QueryString["CategoryId"],
                       PublisherId = @Request.QueryString["PublisherId"],
                   })
                , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })

                </ul>
            }
            else
            {
                @ViewBag.NoReport
            }


        </div>

        <div class="col-md-4">
            @{Html.RenderAction("LatestReport", "Report");}
            <!--/.research_assistance end -->


        </div>
    </div>
</div>
